# Local secrets
.env
.env.local
.env.*.local
secrets.json
secrets/**

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
out/
coverage/

# Node
node_modules/
.vscode-test
out
node_modules
*.vsix
.DS_Store
*.log

# Tabulator CSS (if downloaded locally)
webviews/css/tabulator_vscode.min.css
# Tabulator JS (if downloaded locally)
webviews/js/tabulator.min.js 

coverage